---
import { twMerge } from 'tailwind-merge';
import type { ItemGrid } from '~/types';
import ItemCard from './ItemCard.astro';

const { items = [], columns, defaultIcon = '', classes = {} } = Astro.props as ItemGrid;

const {
  container: containerClass = '',
  // container: containerClass = "sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3",
  panel: panelClass = '',
  title: titleClass = '',
  description: descriptionClass = '',
  icon: defaultIconClass = 'text-primary',
} = classes;
---

{
  items && (
    <div
      class={twMerge(
        `grid gap-8 gap-x-12 sm:gap-y-8 ${
          columns === 4
            ? 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2'
            : columns === 3
              ? 'lg:grid-cols-3 sm:grid-cols-2'
              : columns === 2
                ? 'sm:grid-cols-2 '
                : ''
        }`,
        containerClass
      )}
    >
      {items.map(({ title, description, icon, link, callToAction, classes: itemClasses = {} }) => {
        return (
          <ItemCard
            title={title}
            description={description}
            defaultIcon={defaultIcon}
            icon={icon}
            callToAction={callToAction}
            itemClasses={itemClasses}
            panelClass={panelClass}
            defaultIconClass={defaultIconClass}
            titleClass={titleClass}
            descriptionClass={descriptionClass}
            link={link}
          />
        );
      })}
    </div>
  )
}
